{% extends 'base.html' %}

{% block head %}

{% endblock %}
{% block body %}
<div class="topnav">
    <a href="/">Home</a>
    <a href="/instructions">Instructions</a>
    <a class="active" href="/about">About Us</a>
</div>

<h2>About Us</h2>

<div class="content">
<p>The CircuitSimulatorApp is created by a team of Electrical Engineering students at Carleton University for the final year engineering project.</p>

<br>
<table>
    <tr>
        <td>Ahmad Osman</td>
        <td><a href="mailto:ahmadosman@cmail.carleton.ca">ahmadosman@cmail.carleton.ca</a></td>
    </tr>
    <tr>
        <td>Izunna Otiji</td>
        <td><a href="mailto:izunnaotiji@cmail.carleton.ca">izunnaotiji@cmail.carleton.ca</a></td>
    </tr>
    <tr>
        <td>Justin Sward</td>
        <td><a href="mailto:justinsward@cmail.carleton.ca">justinsward@cmail.carleton.ca</a></td>
    </tr>
    <tr>
        <td>Kwabena Bawuah</td>
        <td><a href="mailto:kwabenabawuah@cmail.carleton.ca">kwabenabawuah@cmail.carleton.ca</a></td>
    </tr>
    <tr>
        <td>Marion Ajijala</td>
        <td><a href="mailto:marionajijala@cmail.carleton.ca">marionajijala@cmail.carleton.ca</a></td>
    </tr>
</table>



</div>





{% endblock %}