{% extends 'base.html' %}

{% block head %}

{% endblock %}
{% block body %}
<div class="topnav">
    <a href="/">Simulator</a>
    <a href="/run">Results</a>
    <a href="/instructions">Instructions</a>
    <a class="active" href="/about">About Us</a>
</div>

<h2>About Us</h2>

<div class="instructionsdiv">
<p style="text-align: left;">The CircuitSimulatorApp is created by a team of 4th-year Electrical Engineering students at Carleton University for the final year engineering project.</p>

<br>

<p style="text-align: left;">We would like to thank Professor Pavan Gunupudi for providing guidance and inspiration for this project. We would also like to thank Carleton University for facilitating the fourth-year engineering projects.</p>

<br>

<p style="text-align: left;">The table below provides the student names and contact information for this project.</p>

<br>
<table class="aboutustable">
    <thead>
        <th>Student</th>
        <th>Contact</th>
    </thead>
    
    <tr>
        <td>Ahmad Osman</td>
        <td><a href="mailto:ahmadosman@cmail.carleton.ca">ahmadosman@cmail.carleton.ca</a></td>
    </tr>
    <tr>
        <td>Izunna Otiji</td>
        <td><a href="mailto:izunnaotiji@cmail.carleton.ca">izunnaotiji@cmail.carleton.ca</a></td>
    </tr>
    <tr>
        <td>Justin Sward</td>
        <td><a href="mailto:justinsward@cmail.carleton.ca">justinsward@cmail.carleton.ca</a></td>
    </tr>
    <tr>
        <td>Kwabena Bawuah</td>
        <td><a href="mailto:kwabenabawuah@cmail.carleton.ca">kwabenabawuah@cmail.carleton.ca</a></td>
    </tr>
    <tr>
        <td>Marion Ajijala</td>
        <td><a href="mailto:marionajijala@cmail.carleton.ca">marionajijala@cmail.carleton.ca</a></td>
    </tr>
</table>

<br><br><br>

<center>
<img src="/static/carletonlogo2.png"/>
</center>

</div>





{% endblock %}