{% extends 'base.html' %}

{% block head %}

{% endblock %}
{% block body %}
<div class="content">
    <h1>Netlist {{ PartHTML.number_of_parts }}</h1>
    {% if PartHTML.number_of_parts < 1 %}
    <h4>There are current no components.</h4>
    {% endif %}

    <form action="/" method="POST">
        <select name="ptype" id="ptype">
            <option value="V">V</option>
            <option value="R">R</option>
            <option value="C">C</option>
            <option value="L">L</option>
        </select>
        <input type="text" name="pident" id="pident" placeholder="Identifier">
        <input type="text" name="pvalue" id="pvalue" placeholder="Value">
        <input type="text" name="pnode1" id="pnode1" placeholder="Node 1">
        <input type="text" name="pnode2" id="pnode2" placeholder="Node 2">
        <input type="submit" value="Add Component">
    </form>

    <br><br>

    {% if PartHTML.number_of_parts > 0 %} <!-- Only show the table headings if there are nets in the netlist -->
    <table>
        <tr>
            <th>Component</th>
            <th>Instance</th>
            <th>Value</th>
            <th>Node 1</th>
            <th>Node 2</th>
            <th>Actions</th>
        </tr>
        {% for Part in part_arrayHTML %} <!-- Make a new row for each part in the netlist -->
        <tr>
            <th>{{Part.partType}}</th>
            <th>{{Part.partId}}</th>
            <th>{{Part.partValue}}</th>
            <th>{{Part.node1}}</th>
            <th>{{Part.node2}}</th>
            <th><a href="">Update</a>
                <br>
                <a href="">Delete</a>
            </th>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    
</div>
{% endblock %}