{% extends 'base.html' %}

{% block head %}

{% endblock %}
{% block body %}
<div class="content">
    <h1>CircuitSimulatorApp</h1>
    {% if PartHTML.number_of_parts < 1 %}
    <h3>The netlist is currently empty.</h3>
    <br>
    {% endif %}

    <form action="/" method="POST">
        <select name="ptype" id="ptype">
            <option value="V">V</option>
            <option value="R">R</option>
            <option value="C">C</option>
            <option value="L">L</option>
        </select>
        <input type="text" name="pident" id="pident" placeholder="Identifier">
        <input type="text" name="pvalue" id="pvalue" placeholder="Value">
        <input type="text" name="pnode1" id="pnode1" placeholder="Node 1">
        <input type="text" name="pnode2" id="pnode2" placeholder="Node 2">
        <input type="submit" value="Add Component">
    </form>

    

    {% if PartHTML.number_of_parts > 0 %} <!-- Only show the table headings if there are nets in the netlist -->
    <h4>Number of nets: {{ PartHTML.number_of_parts }} </h4>
    <table>
        <thead>
            <tr>
                <th>Component</th>
                <th>Value</th>
                <th>Node 1</th>
                <th>Node 2</th>
                <th>Action</th>
            </tr>
            {% for Part in part_arrayHTML %} <!-- Make a new row for each part in the netlist -->
            <tr>
                <td>{{Part.partName}}</td>
                <td>{{Part.partValue}} {{Part.returnUnits()}}</td>
                <td>{{Part.node1}}</td>
                <td>{{Part.node2}}</td>
                <td><a href="">Update</a>
                    <br>
                    <a href="">Delete</a>
                </td>
            </tr>
        </thead>
        {% endfor %}
    </table>
    {% endif %}
    
</div>
{% endblock %}