{% extends 'base.html' %}

{% block head %}

{% endblock %}
{% block body %}
<div class="topnav">
    <a href="/">Simulator</a>
    <a class="active" href="/run">Results</a>
    <a href="/instructions">Instructions</a>
    <a href="/about">About Us</a>
</div>

<h2>Simulation Results</h2>

<h3 style="text-align:center"><a href="/">BACK TO SIMULATION SETUP</a></h3>
<br>

<table style="width:20%">
    <thead>
        <th>Simulation Parameter</th>
        <th>Value</th>
    </thead>
    <tr>
        <td>Type</td>
        <td>{{simHTML.getType()}}</td>
    </tr>
    <tr>
        <td>Node</td>
        <td>{{simHTML.getNode()}}</td>
    </tr>
    <tr>
        <td>Start Frequency</td>
        <td>{{simHTML.getStart()}}</td>
    </tr>
    <tr>
        <td>End Frequency</td>
        <td>{{simHTML.getEnd()}}</td>
    </tr>
</table>



{% endblock %}